body {
    background: var(--color-secundario);
    min-height: 100vh;
}

h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 0;
}

.btn-primary {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
    color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #c63a1e !important;
    border-color: #c63a1e !important;
    color: #fff !important;
}

