*.class
*.jar
*.war
*.ear

/target/
!.mvn/wrapper/maven-wrapper.jar

.gradle/
build/

*.log

/.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

node_modules/

*.pid

.env

/test-output/

/.idea/

.vscode/

Entrenamiento/*.pdf

src/main/webapp/resources/core/js/package-lock.json

*.swp
*.swo

