<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" th:href="@{/css/crear-publicacion.css}" />


</head>

<body>

<div id="conteiner-options" class="d-flex flex-wrap gap-3 justify-content-center my-4">
    <button id="boton-adopcion" class="btn btn-outline-primary btn-lg">Adopción</button>
    <button id="boton-recaudacion" class="btn btn-outline-primary btn-lg">Recaudación</button>
    <button id="boton-consulta" class="btn btn-outline-primary btn-lg">Consulta</button>
    <button id="boton-perdido" class="btn btn-outline-primary btn-lg">Perdido</button>
    <button id="boton-encontrado" class="btn btn-outline-primary btn-lg">Encontrado</button>
</div>

<div class = "container" id="formularios">
    <div id="form-adopcion" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form th:action="@{/publicacion-adopcion}" method="POST" th:object="${datosAdopcion}">
                <label>Titulo de la publicacion</label>
                <input th:field="*{titulo}" id="titulo-adopcion" type="text" placeholder="Ej: Hermoso Golden Retriever busca familia." class="form-control" required/>
                <label>Descripcion corta (maximo 100 caracteres)</label>
                <input th:field="*{descripcionCorta}" id="descripcion-corta-adopcion" type="text" placeholder="Cuenta breve descripcion del animal." maxlength="100"  class="form-control" required/>
                <label>Descripcion detallada</label>
                <input th:field="*{descripcionDetallada}" id="descripcion-detallada-adopcion" type="text" placeholder="Cuenta la historia del animal, sus caracteristicas, necesidades especiales, etc." class="form-control" required/>
                <label>Fotos del animal</label>
                <input th:field="*{imagen}" id="imagen-adopcion" type="file" placeholder="Haz click para subir o arrastra hasta aquí. Maximo 5 imagenes" class="form-control" required/>
            <div>
                <label>Edad aproximada<input th:field="*{edad}" id="edad-adopcion" type="number" placeholder="Ej: 2 años" min="0" class="form-control" required/></label>
                <label>Tamaño<input th:field="*{tamanio}" id="tamanio-adopcion" type="number" min="0" class="form-control" required/></label>
            </div>
            <div>
                <label>Provincia</label>
                <select th:field="*{provincia}" class="form-select" required>
                    <option value="">Seleccione una provincia</option>
                    <option th:each="p : ${provincias}"
                            th:value="${p}"
                            th:text="${#strings.capitalizeWords(p.toString().replace('_', ' ').toLowerCase())}">
                    </option>
                </select>
            </div>
            <div>
                <label>Ciudad / Localidad</label>
                <input th:field="*{localidad}" type="text" class="form-control" placeholder="Ej: Ramos Mejía" required/>

                </select>
            </div>
            <h5>Información de contacto</h5>
            <div>
                <label>Telefono<input th:field="*{telefono}" id="telefono-adopcion" type="tel" placeholder="+54 9 11 5124-3215" class="form-control" required/></label>
                <label>Email<input th:field="*{email}" id="email-adopcion" type="email" placeholder="ejemplo@unlam.edu.ar" class="form-control" required/></label>
            </div>

            <button id="boton-publicar-adopcion" class="btn btn-lg btn-primary btn-block" Type="Submit">Publicar ahora</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>

    <div id="form-recaudacion" style="display:none; margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form th:action="@{/publicacion-recaudacion}" method="POST" th:object="${datosRecaudacion}">
            <label>Titulo de la publicacion</label>
            <input th:field="*{titulo}" id="titulo-recaudacion" type="text" placeholder="Ej: Hermoso Golden Retriever busca familia." class="form-control" required/>
            <label>Descripcion corta (maximo 100 caracteres)</label>
            <input th:field="*{descripcionCorta}" id="descripcion-corta-recaudacion" type="text" placeholder="Cuenta breve descripcion del animal." maxlength="100"  class="form-control" required/>
            <label>Descripcion detallada</label>
            <input th:field="*{descripcionDetallada}" id="descripcion-detallada-recaudacion" type="text" placeholder="Cuenta la historia del animal, sus caracteristicas, necesidades especiales, etc." class="form-control" required/>
            <label>Fotos del animal</label>
            <input th:field="*{imagen}" id="imagen-recaudacion" type="file" placeholder="Haz click para subir o arrastra hasta aquí. Maximo 5 imagenes" class="form-control" required/>
            <div>
                <label>Edad aproximada<input th:field="*{edad}" id="edad-recaudacion" type="number" placeholder="Ej: 2 años" min="0" class="form-control" required/></label>
                <label>Raza<input th:field="*{raza}" id="raza-recaudacion" type="text" placeholder="Ej: Siames" class="form-control" required/></label>
            </div>
            <div>
                <label>Meta de recaudacion</label><br>
                <input th:field="*{meta}" id="meta-recaudacion" type="number" min="0">
            </div>

            <div>
                <h6>Datos para recibir donaciones</h6>

                <label>CBU / Alias</label>
                <input th:field="*{cbu}" id="cbu-recaudacion" type="text" placeholder="Ej: mi.alias.mp" class="form-control" required />

                <label>Método preferido</label>
                <select th:field="*{metodoPreferido}" class="form-control" required>
                    <option value="">Selecciona uno</option>
                    <option value="mercadopago">Mercado Pago</option>
                    <option value="transferencia">Transferencia bancaria</option>
                    <option value="paypal">PayPal</option>
                </select>
            </div>

            <div>
                <label>Provincia</label>
                <select th:field="*{provincia}" class="form-select" required>
                    <option value="">Seleccione una provincia</option>
                    <option th:each="p : ${provincias}"
                            th:value="${p}"
                            th:text="${#strings.capitalizeWords(p.toString().replace('_', ' ').toLowerCase())}">
                    </option>
                </select>
            </div>
            <div>
                <label>Ciudad / Localidad</label>
                <input th:field="*{localidad}" type="text" class="form-control" placeholder="Ej: Ramos Mejía" required/>

                </select>
            </div>

            <h5>Información de contacto</h5>
            <div>
                <label>Telefono<input th:field="*{telefono}" id="telefono-recaudacion" type="tel" placeholder="+54 9 11 5124-3215" class="form-control" required/></label>
                <label>Email<input th:field="*{email}" id="email-recaudacion" type="email" placeholder="ejemplo@unlam.edu.ar" class="form-control" required/></label>
            </div>


            <button id="boton-publicar-recaudacion" class="btn btn-lg btn-primary btn-block" Type="Submit">Publicar ahora</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>


    <div id="form-consulta" style="display:none; margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form th:action="@{/publicacion-salud}" method="POST" th:object="${datosSalud}">
            <label>Titulo de la publicacion</label>
            <input th:field="*{titulo}" id="titulo-salud" type="text" placeholder="Ej: Hermoso Golden Retriever busca familia." class="form-control" required/>
            <label>Descripcion corta (maximo 100 caracteres)</label>
            <input th:field="*{descripcionCorta}" id="descripcion-corta-salud" type="text" placeholder="Cuenta breve descripcion del animal." maxlength="100"  class="form-control" required/>
            <label>Descripcion detallada</label>
            <input th:field="*{descripcionDetallada}" id="descripcion-detallada-salud" type="text" placeholder="Cuenta la historia del animal, sus caracteristicas, necesidades especiales, etc." class="form-control" required/>
            <label>Fotos del animal</label>
            <input th:field="*{imagen}" id="imagen-salud" type="file" placeholder="Haz click para subir o arrastra hasta aquí. Maximo 5 imagenes" class="form-control" required/>
            <div>
                <label>Edad aproximada<input th:field="*{edad}" id="edad-salud" type="number" placeholder="Ej: 2 años" min="0" class="form-control" required/></label>
                <label>Tamaño<input th:field="*{tamanio}" id="tamanio-salud" type="number" min="0" class="form-control" required/></label>
            </div>
            <div>
                <div>
                    <label>Provincia</label>
                    <select th:field="*{provincia}" class="form-select" required>
                        <option value="">Seleccione una provincia</option>
                        <option th:each="p : ${provincias}"
                                th:value="${p}"
                                th:text="${#strings.capitalizeWords(p.toString().replace('_', ' ').toLowerCase())}">
                        </option>
                    </select>
                </div>
                <div>
                    <label>Ciudad / Localidad</label>
                    <input th:field="*{localidad}" type="text" class="form-control" placeholder="Ej: Ramos Mejía" required/>
                </div>
            </div>
            <div>
                <label>Sintomas principales<input th:field="*{sintomasPrincipales}" id="sintomas-salud" type="text" placeholder="Ej: Vomitos" class="form-control" required/></label>
                <label>Diagnostico previo<input th:field="*{diagnostico}" id="diagnostico-salud" type="text" placeholder="EJ: Leve molestia en pata izquierda" class="form-control" required/></label><br>
                <label>Nivel de urgencia</label>
                <select th:field="*{nivelUrgencia}" class="form-control" required>
                    <option value="">Selecciona uno</option>
                    <option value="no-urgente">No urgente</option>
                    <option value="prioritario">Prioritario</option>
                    <option value="urgencia">Urgencia</option>
                    <option value="emergencia">Emergencia</option>
                    <option value="reanimacion">Reanimacion</option>
                </select>
            </div>
            <button id="boton-publicar-salud" class="btn btn-lg btn-primary btn-block" Type="Submit">Publicar ahora</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>


    <div id="form-perdido" style="display:none; margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form th:action="@{/publicacion-perdido}" method="POST" th:object="${datosPerdido}">
            <label>Titulo de la publicacion</label>
            <input th:field="*{titulo}" id="titulo-perdido" type="text" placeholder="Ej: Hermoso Golden Retriever busca familia." class="form-control" required/>
            <label>Descripcion corta (maximo 100 caracteres)</label>
            <input th:field="*{descripcionCorta}" id="descripcion-corta-perdido" type="text" placeholder="Cuenta breve descripcion del animal." maxlength="100"  class="form-control" required/>
            <label>Descripcion detallada</label>
            <input th:field="*{descripcionDetallada}" id="descripcion-detallada-perdido" type="text" placeholder="Cuenta la historia del animal, sus caracteristicas, necesidades especiales, etc." class="form-control" required/>
            <label>Fotos del animal</label>
            <input th:field="*{imagen}" id="imagen-perdido" type="file" placeholder="Haz click para subir o arrastra hasta aquí. Maximo 5 imagenes" class="form-control" required/>
            <div>
                <label>Raza<input th:field="*{raza}" id="raza-perdido" type="text" placeholder="Ej: Siames" class="form-control" required/></label>
                <label>Tamaño<input th:field="*{tamanio}" id="tamanio-perdido" type="number" min="0" class="form-control" required/></label>
            </div>
            <div>
                <div>
                    <label>Provincia</label>
                    <select th:field="*{provincia}" class="form-select" required>
                        <option value="">Seleccione una provincia</option>
                        <option th:each="p : ${provincias}"
                                th:value="${p}"
                                th:text="${#strings.capitalizeWords(p.toString().replace('_', ' ').toLowerCase())}">
                        </option>
                    </select>
                </div>
                <div>
                    <label>Última ciudad / localidad vista</label>
                    <input th:field="*{localidad}" type="text" class="form-control" placeholder="Ej: Morón" required/>
                </div>
                <label>Fecha de desaparición<input th:field="*{fechaDesaparicion}" id="fecha-desaparicion" type="date" class="form-control" required/></label>
                <label>Hora de desaparición<input th:field="*{horaDesaparicion}" id="hora-desaparicion" type="time" class="form-control" required/></label>
            </div>
            <div>
                <label>¿Lleva collar?</label>
                <input th:field="*{llevaCollar}" type="checkbox"/>

                <label>¿Se ofrece recompensa?</label>
                <select th:field="*{recompensa}">
                    <option value="">Selecciona</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
            <button id="boton-publicar-perdido" class="btn btn-lg btn-primary btn-block" Type="Submit">Publicar ahora</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>


    <div id="form-encontrado" style="display:none; margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form th:action="@{/publicacion-encontrado}" method="POST" th:object="${datosEncontrado}">
            <label>Titulo de la publicacion</label>
            <input th:field="*{titulo}" id="titulo-encontrado" type="text" placeholder="Ej: Hermoso Golden Retriever busca familia." class="form-control" required/>
            <label>Descripcion corta (maximo 100 caracteres)</label>
            <input th:field="*{descripcionCorta}" id="descripcion-corta-encontrado" type="text" placeholder="Cuenta breve descripcion del animal." maxlength="100"  class="form-control" required/>
            <label>Descripcion detallada</label>
            <input th:field="*{descripcionDetallada}" id="descripcion-detallada-encontrado" type="text" placeholder="Cuenta la historia del animal, sus caracteristicas, necesidades especiales, etc." class="form-control" required/>
            <label>Fotos del animal</label>
            <input th:field="*{imagen}" id="imagen-encontrado" type="file" placeholder="Haz click para subir o arrastra hasta aquí. Maximo 5 imagenes" class="form-control" required/>
            <div>
                <label>Raza<input th:field="*{raza}" id="raza-encontrado" type="text" placeholder="Ej: Siames" class="form-control" required/></label>
                <label>Tamaño<input th:field="*{tamanio}" id="tamanio-encontrado" type="number" min="0" class="form-control" required/></label>
            </div>

            <div>
                <label>Provincia</label>
                <select th:field="*{provincia}" class="form-select" required>
                    <option value="">Seleccione una provincia</option>
                    <option th:each="p : ${provincias}"
                            th:value="${p}"
                            th:text="${#strings.capitalizeWords(p.toString().replace('_', ' ').toLowerCase())}">
                    </option>
                </select>
            </div>
            <div>
                <label>Ciudad / Localidad</label>
                <input th:field="*{localidad}" type="text" class="form-control" placeholder="Ej: Ramos Mejía" required/>

                </select>
            </div>

            <h5>Información de contacto</h5>
            <div>
                <label>Telefono<input th:field="*{telefono}" id="telefono-encontrado" type="tel" placeholder="+54 9 11 5124-3215" class="form-control" required/></label>
                <label>Email<input th:field="*{email}" id="email-encontrado" type="email" placeholder="ejemplo@unlam.edu.ar" class="form-control" required/></label>
            </div>
            <button id="boton-publicar-encontrado" class="btn btn-lg btn-primary btn-block" Type="Submit">Publicar ahora</button>

            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>
</div>

<script th:src="@{/js/crear-publicacion.js}"></script>
</body>
</html>